* text=auto
*.js text eol=lf
*.sh text eol=lf
*.txt text eol=crlf
*.ts text eol=lf
*.vue text eol=lf
*.cjs text eol=lf
*.cts text eol=lf
*.mjs text eol=lf
*.mts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
